header{
    position: sticky;
    background-color: red;
    width: 100%;
    height: 100px;

    nav{
        width: fit-content;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        li{
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;
            
        }
    }
    li::before{
        content: '';
        display: block;
    background: #000;
    height: 1px;
        width: 0;
    }

    li:hover{
        content: '';
        display: block;
        background: #000;
        height: 1px;
        width: 100%;
    }
}